*.qmlproject.user
*.cbp
.excludes
manifest.json
webbrowser-app.json

CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
cmake_install.cmake
cmake_uninstall.cmake
Makefile
install_manifest.txt
CTestTestfile.cmake
Testing/
*.ninja*

*.moc
moc_*.cpp
*_automoc.cpp
*_automoc.dir/
src/app/config.h
src/app/webcontainer/webapp-container
src/app/webbrowser/webbrowser-app
src/app/webbrowser/webbrowser-app.desktop
src/app/webbrowser/webbrowser-app.desktop.in
src/Ubuntu/Components/Extras/Browser/ua-overrides-*.js
src/Ubuntu/Web/ua-overrides-*.js
RE:tests/unittests/.+/tst_\w+Tests$
po/*.gmo
po/src
doc/html
click-hooks/webapp-container-hook
click-hooks/webapp-container.hook

obj-*
debian/usr.bin.webbrowser-app
debian/files
debian/tmp/
debian/qml-module-ubuntu-ui-extras-browser/
debian/qml-module-ubuntu-web/
debian/qml-module-ubuntu-web-doc/
debian/qtdeclarative5-ubuntu-ui-extras-browser-plugin/
debian/qtdeclarative5-ubuntu-web-plugin/
debian/qtdeclarative5-ubuntu-web-plugin-doc/
debian/webapp-container/
debian/webapp-container-autopilot/
debian/webbrowser-app/
debian/webbrowser-app-autopilot/
debian/debhelper-build-stamp
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/stamp-*

coverage-xml.cmake
coverage.*
coveragereport/

build/
*.click
*.deb
.clickable
*.qmlc
*.jsc
.directory
