# Copyright 2015-2016 Canonical
#
# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License version 3, as published
# by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

# autopkgtest is a test dependency so we don't need to copy
# ubuntu-touch-session to the testbed but can use it from autopkgtest instead

Test-Command: /bin/sh -ex debian/tests/touch-session-autopilot webbrowser_app
Restrictions: allow-stderr
Classes: ubuntu-touch
Depends: webbrowser-app-autopilot, autopkgtest, python3-evdev, procps, sudo

Test-Command: /bin/sh -ex debian/tests/touch-session-autopilot webapp_container
Restrictions: allow-stderr
Classes: ubuntu-touch
Depends: webapp-container-autopilot, autopkgtest, python3-evdev, procps, sudo
