Source: ubuntu-browser
Section: x11
Priority: optional
Maintainer: Olivier Tilloy <olivier.tilloy@canonical.com>
Build-Depends: debhelper (>= 8.0.0),
               cmake (>= 2.8.9),
               qtbase (>= 5.0),
               qtdeclarative (>= 5.0),
               mesa-common-dev,
Standards-Version: 3.9.3

Package: ubuntu-browser
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         qt-components-ubuntu,
Description: Ubuntu web browser
 A lightweight web browser tailored for Ubuntu, based on the Webkit rendering
 engine and using the Ubuntu UI components.

Package: ubuntu-browser-autopilot
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ubuntu-browser (= ${binary:Version}),
Description: Ubuntu web browser autopilot tests
 A lightweight web browser tailored for Ubuntu, based on the Webkit rendering
 engine and using the Ubuntu UI components. This package contains autopilot
 tests for it.
