Source: webbrowser-app
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: apparmor,
               apparmor-easyprof,
               apparmor-easyprof-ubuntu (>= 1.3.13),
               cmake (>= 2.8.9),
               debhelper (>= 9),
               dh-apparmor,
               dh-translations,
               libapparmor-dev,
               libevdev-dev,
               liboxideqt-qmlplugin (>= 1.12),
               libqt5sql5-sqlite,
               libudev-dev,
               lsb-release,
               pkg-config,
               python3-all,
               python3-flake8,
               qml-module-qt-labs-folderlistmodel,
               qml-module-qt-labs-settings,
               qml-module-qtquick2 (>= 5.4),
               qml-module-qtquick-layouts,
               qml-module-qttest,
               qt5-default,
               qt5-qmake,
               qtbase5-dev (>= 5.4),
               qtbase5-dev-tools,
               qtbase5-private-dev,
               qtdeclarative5-dev,
               qtdeclarative5-ubuntu-ui-toolkit-plugin (>= 1.3) | qtdeclarative5-ubuntu-ui-toolkit-plugin-gles (>= 1.3),
               qttools5-dev-tools,
               xvfb,
Standards-Version: 3.9.7
Homepage: https://launchpad.net/webbrowser-app
# If you aren't a member of ~phablet-team but need to upload packaging changes,
# just go ahead.  ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~phablet-team/webbrowser-app/trunk
XS-Testsuite: autopkgtest

Package: webbrowser-app
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends},
         fonts-liberation,
         liboxideqt-qmlplugin (>= 1.15),
         libqt5sql5-sqlite,
         qml-module-qt-labs-folderlistmodel,
         qml-module-qt-labs-settings,
         qml-module-qtquick2 (>= 5.4),
         qml-module-qtquick-layouts,
         qml-module-qtquick-window2 (>= 5.3),
         qml-module-ubuntu-web (= ${binary:Version}),
         qtdeclarative5-ubuntu-ui-toolkit-plugin (>= 1.3) | qtdeclarative5-ubuntu-ui-toolkit-plugin-gles (>= 1.3),
         qtdeclarative5-unity-action-plugin,
Replaces: webbrowser-app-assets,
          qtdeclarative5-ubuntu-ui-extras-browser-plugin (<< 0.22),
Conflicts: webbrowser-app-assets
Provides: webbrowser-app-assets
Breaks: qtdeclarative5-ubuntu-ui-extras-browser-plugin (<< 0.22)
Description: Ubuntu web browser
 A lightweight web browser tailored for Ubuntu, based on the Oxide browser
 engine and using the Ubuntu UI components.

Package: webapp-container
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends},
         fonts-liberation,
         liboxideqt-qmlplugin (>= 1.8),
         libqt5sql5-sqlite,
         qml-module-qtquick2 (>= 5.4),
         qml-module-qtquick-window2 (>= 5.3),
         qml-module-ubuntu-onlineaccounts,
         qml-module-ubuntu-web (= ${binary:Version}),
         qtdeclarative5-ubuntu-ui-toolkit-plugin (>= 1.3) | qtdeclarative5-ubuntu-ui-toolkit-plugin-gles (>= 1.3),
         qtdeclarative5-unity-action-plugin,
         unity-webapps-qml,
         webbrowser-app (= ${binary:Version}),
Conflicts: ubuntu-html5-container
Breaks: ubuntu-html5-container
Suggests: qml-module-ubuntu-onlineaccounts-client (>= 0.3),
Description: Ubuntu web applications container
 A lightweight webapp container tailored for Ubuntu, based on the Oxide browser
 engine and using the Ubuntu UI components.

Package: qml-module-ubuntu-ui-extras-browser
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qml-module-qtquick2 (>= 5.4),
         qml-module-qtquick-window2 (>= 5.3),
         qtdeclarative5-ubuntu-ui-toolkit-plugin (>= 1.3) | qtdeclarative5-ubuntu-ui-toolkit-plugin-gles (>= 1.3),
         qml-module-ubuntu-web (= ${binary:Version}),
Replaces: webbrowser-app (<< 0.21), qtdeclarative5-ubuntu-ui-extras-browser-plugin (<< ${source:Version})
Breaks: webbrowser-app (<< 0.21), qtdeclarative5-ubuntu-ui-extras-browser-plugin (<< ${source:Version})
Description: Ubuntu web QML module
 A standalone QML module that contains the UbuntuWebView component
 , in the Ubuntu.Components.Extras.Browser namespace.

Package: qtdeclarative5-ubuntu-ui-extras-browser-plugin
Architecture: any
Multi-Arch: same
Section: oldlibs
Depends: qml-module-ubuntu-ui-extras-browser, ${misc:Depends}
Description: transitional dummy package for the Ubuntu web QML module
 A standalone QML module that contains the UbuntuWebView component
 , in the Ubuntu.Components.Extras.Browser namespace.

Package: qml-module-ubuntu-web
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends},
         liboxideqt-qmlplugin (>= 1.15.7),
         qml-module-qtquick2 (>= 5.4),
         qml-module-qtquick-window2 (>= 5.3),
         qtdeclarative5-ubuntu-ui-toolkit-plugin (>= 1.3) | qtdeclarative5-ubuntu-ui-toolkit-plugin-gles (>= 1.3),
Breaks: qtdeclarative5-ubuntu-web-plugin (<< ${source:Version})
Replaces: qtdeclarative5-ubuntu-web-plugin (<< ${source:Version})
Description: Ubuntu web QML module
 A standalone QML module that contains the WebView component,
 in the Ubuntu.Web namespace.

Package: qtdeclarative5-ubuntu-web-plugin
Architecture: any
Multi-Arch: same
Section: oldlibs
Depends: qml-module-ubuntu-web, ${misc:Depends}
Description: transitional dummy package for the Ubuntu web QML module
 A standalone QML module that contains the WebView component,
 in the Ubuntu.Web namespace.

Package: qml-module-ubuntu-web-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Breaks: qtdeclarative5-ubuntu-web-plugin-doc (<< ${source:Version})
Replaces: qtdeclarative5-ubuntu-web-plugin-doc (<< ${source:Version})
Description: Ubuntu web QML module HTML documentation
 A standalone QML module that contains the WebView component,
 in the Ubuntu.Web namespace. This package contains the public
 HTML documentation.

Package: qtdeclarative5-ubuntu-web-plugin-doc
Section: oldlibs
Architecture: all
Multi-Arch: foreign
Depends: qml-module-ubuntu-web-doc, ${misc:Depends}
Description: transitional dummy package for the Ubuntu web QML module HTML documentation
 A standalone QML module that contains the WebView component,
 in the Ubuntu.Web namespace. This package contains the public
 HTML documentation.

Package: webbrowser-app-autopilot
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         autopilot-qt5,
         python3-autopilot,
         python3-fixtures,
         python3-psutil,
         ubuntu-ui-toolkit-autopilot,
         webbrowser-app (>= ${binary:Version}),
Description: Ubuntu web browser autopilot tests
 A lightweight web browser tailored for Ubuntu, based on the Oxide browser
 engine and using the Ubuntu UI components. This package contains autopilot
 tests for it.

Package: webapp-container-autopilot
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         autopilot-qt5,
         python3-autopilot,
         python3-fixtures,
         ubuntu-ui-toolkit-autopilot,
         webapp-container (>= ${binary:Version}),
Description: Ubuntu web applications container autopilot tests
 A lightweight webapp container tailored for Ubuntu, based on the Oxide browser
 engine and using the Ubuntu UI components. This package contains autopilot
 tests for it.
