[Desktop Entry]
Version=1.0
Name=Browser
GenericName=Web Browser
Comment=Browse the World Wide Web
Type=Application
Icon=webbrowser-app
Exec=webbrowser-app %u
Terminal=false
Categories=Network;WebBrowser;
Keywords=Internet;WWW;Browser;Web;Explorer
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
X-Ubuntu-Touch=true
X-Ubuntu-Gettext-Domain=webbrowser-app
